.header__logo {
  width: 142px;
  height: 33px;
  margin: 45px 0 41px 0;
}

@media screen and (max-width: 880px) {
  .header__logo {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 28px 0 31px 27px;
    width: 104px;
    height: 24px;
  }
}