.profile {
  max-width: 880px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 880px) {
  .profile {
    padding: 0 27px 50px 27px;
  }
}

@media screen and (max-width: 716px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-bottom: 36px;
  }
}