.grid__delete-element {
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: transparent;
  padding: 0;
}

.grid__delete-element:hover {
  opacity: 50%;
  transition: opacity .2s ease-out;
}